.headlineText {
  font-size: var(--title);
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headlineText p {
  margin-top: -10vh;
  width: clamp(200px, 100%, 900px);
}

.aboutSectionHeading {
  font-size: var(--title);
  padding-bottom: 20px;
}

.locationsOuterContainer {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: calc(var(--medium-padding) * 2);
}

.locationContainer {
  width: 100%;
  display: flex;
  gap: 40px;
}

.worldLocationContainer {
  display: flex;
  width: calc(33% - 20px);
  flex-direction: column;
  margin-right: 40px;
  margin-top: 80px;
}

.locationContainer > div {
  width: calc(33% - 20px);
}

.locationTile {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.address {
  font-size: var(--bodyText);
  padding-top: 10px;
}

.hours {
  font-size: var(--sub-text);
  font-family: var(--font-secondary);
  font-variant-numeric: normal;
  color: var(--dark-gray);
}

.locationLink {
  position: relative;
  aspect-ratio: 140 / 97;
  overflow: hidden;
}

.grayBackground {
  background: var(--dark-gray);
  height: 100%;
  width: 100%;
}

.locationImage {
  position: absolute;
  height: 100%;
  width: 100%;
  mix-blend-mode: luminosity;
  transition: all 400ms;
}

.locationLink:hover {
  opacity: 1;
}

.locationLink:hover .locationImage {
  mix-blend-mode: normal;
  transition: all 400ms;
}

.staffOuterContainer {
  margin-bottom: var(--large-padding);
}

.staffContainer {
  column-count: 3;
  column-gap: 20px;
}

.staff {
  break-inside: avoid;
  margin-bottom: var(--medium-padding);
}

.title {
  color: var(--dark-gray);
}

@media screen and (max-width: 1000px) {
  .headlineText p {
    width: clamp(200px, 75%, 900px);
  }
}

@media screen and (max-width: 700px) {
  .worldLocationContainer {
    width: 100%;
    margin-right: 0px;
  }

  .locationContainer {
    flex-wrap: wrap;
  }

  .locationContainer > div {
    width: 100%;
  }

  .headlineText {
    font-size: var(--title);
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headlineText p {
    margin-top: 0;
    width: 100%;
  }

  .locationLink:hover .locationImage {
    mix-blend-mode: luminosity;
    transition: all 400ms;
  }

  .staffContainer {
    column-count: 2;
    column-gap: 10px;
  }
}
