.simpleContainer {
  width: 100%;
}

.afterCarousel {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.nextArrow,
.previousArrow {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.carouselSVG {
  height: 100%;
  width: 100%;
}

.slideCount {
  font-size: var(--caption);
  white-space: nowrap;
}

.figcaption {
  font-size: var(--caption);
  padding-right: 20px;
}

.figcaption h1 {
  font-weight: 400;
}

.figcaption p {
  font-family: var(--font-secondary);
  font-variant-numeric: normal;
}

.figcaption h1 {
  font-size: var(--body-text);
  margin-bottom: 5px;
  font-weight: 400;
}

.underCarousel {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.slideCountContainer {
  display: flex;
  gap: 5px;
  align-items: center;
}

.slideContainer {
  width: 100%;
}

.slideContainer figure {
  width: 100%;
  aspect-ratio: 16 / 9;
  display: grid;
  place-items: center;
}

.carouselImage {
  width: 100%;
}
