.contentContainer {
  display: flex;
  gap: 20px;
  padding-top: var(--medium-padding);
  width: 100%;
}

.featuredContainer,
.notFeaturedContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.featuredContainer {
  width: 75%;
}

.notFeaturedContainer {
  width: 25%;
}

.mobileContainer {
 display: flex;
 flex-wrap: wrap;
 gap: 40px;
 width: 100%;
 justify-content: center;
}

.imageLink {
  width: 100%;
  margin-bottom: 10px;
}

.mobileHalf {
 width: calc(50% - 20px);
}

.mobileFull {
 width: 100%;
}
