.artistHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.viewContainer {
  display: flex;
  gap: 12px;
  font-family: var(--font-secondary);
  align-items: center;
}

.viewButton {
  display: flex;
  align-items: center;
  transition: all 400ms;
}

.viewButton:hover {
  opacity: 1;
  transition: all 400ms;
}

.faded {
  opacity: 0.5;
  transition: all 400ms;
}

.artistContainer {
  padding-top: var(--medium-padding);
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
}

.artistLink {
  display: block;
  width: calc(25% - 8px);
  margin-bottom: 5px;
  opacity: 1;
  transition: all 400ms;
}

.artistLink:hover {
  opacity: 0.5;
  transition: all 400ms;
}

.artistTile {
  margin-bottom: 30px;
}

.artistTileImage {
  aspect-ratio: 5 / 4;
  margin-bottom: 15px;
}

@media screen and (max-width: 745px) {
  .artistLink {
    width: calc(50% - 5px);
  }

  .artistTileImage {
    margin-bottom: 5px;
  }

  .artistContainer {
    margin-top: var(--medium-padding);
  }
}
