.pageHeading {
  color: var(--mid-gray);
  font-family: var(--font-secondary);
}

.pageHeading:hover {
  color: #000;
}

.exhibitionsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 40px;
  margin-bottom: var(--medium-padding);
}

.headerLinkContainer {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.headerLinkContainer a {
  white-space: nowrap;
  color: var(--dark-gray);
}

.headerLinkContainer a:hover {
  color: #000;
}

.headerLinkContainer .landingLink {
  color: #000;
}

.artistSectionHeading {
  font-size: var(--title);
  padding-bottom: 20px;
  padding-top: var(--large-padding);
}

.aboutContainer {
  display: flex;
  align-items: flex-start;
  gap: 60px;
  margin-bottom: var(--medium-padding);
}

.artistBio {
  width: 60%;
}

.artistBioFull {
  width: 100%;
}

.artistImage {
  width: 40%;
}

.artistBio p,
.artistBioFull p {
  margin-bottom: 20px;
}

.exhibitionContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  margin-bottom: var(--medium-padding);
}

.exhibitionContainer > div {
  width: calc(33% - 10px);
}

.downloadContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 40px;
}

.studioContainer {
  margin-bottom: var(--medium-padding);
}

.callToActionContainer {
  margin-top: calc((var(--medium-padding) * 2) + 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: center;
  margin-bottom: var(--large-padding);
}

.callToActionContainer h2 {
  font-size: var(--title);
  font-weight: normal;
  padding: 0 8vw;
}

.ctaLink {
  font-size: var(--subtext);
  padding: 10px 30px 5px 30px;
  border: 1px solid #000;
  border-radius: 80px;
}

.explore {
  font-size: var(--title);
  font-style: italic;
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: var(--large-padding);
  padding-bottom: var(--large-padding);
  background: var(--dark-gray);
  color: #fff;
}

.explore:hover {
  color: var(--light-gray);
}

@media screen and (max-width: 700px) {
  .aboutContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .artistBio,
  .artistImage,
  .exhibitionContainer > div {
    width: 100%;
  }

  .exhibitionsHeader {
    flex-wrap: wrap;
    gap: 15px;
  }

  .exhibitionsHeader > div {
    width: 100%;
  }

  .headerLinkContainer {
    display: none;
  }

  .artistBio p,
  .artistBioFull p {
    line-height: 1.75;
    font-size: var(--body-text);
  }

  .pressItem {
    width: calc(50% - 5px);
  }
}
