.exhibitionsHeader {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.exhibitionsHeader > div {
  width: 33%;
}

.headerLinkContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.headerLinkContainer a {
  white-space: nowrap;
}

.artistSectionHeading {
  font-size: var(--title);
  padding-bottom: 20px;
}

.aboutContainer {
  display: flex;
  gap: 40px;
  margin-bottom: var(--large-padding);
}

.artistBio {
  width: 60%;
}

.artistImage {
  width: 40%;
}

.artistBio p {
  margin-bottom: 20px;
}

.exhibitionContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 3%;
  margin-bottom: var(--large-padding);
}

.exhibitionContainer > div {
  width: 30%;
}

.pressContainer {
  display: flex;
  margin-bottom: var(--large-padding);
}

.pressSecondary {
  display: block;
  font-family: var(--font-secondary);
  font-size: var(--caption);
}

@media screen and (max-width: 700px) {
  .aboutContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .artistBio,
  .artistImage,
  .exhibitionContainer > div {
    width: 100%;
  }
}
