.bannerContainer {
  position: relative;
  aspect-ratio: 3 / 1;
  overflow: hidden;
  width: 100%;
}

.imageHolder {
  height: 100%;
  width: 100%;
  position: relative;
}

.overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.bannerImage {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  text-align: center;
}

.ctaHeadline {
  font-size: var(--title);
  font-weight: normal;
  padding: 0 30vw;
  margin-bottom: 10px;
}

.ctaSubtitle {
  padding: 0 30vw;
}

.ctaButton {
  font-size: var(--subtext);
  padding: 10px 30px 5px 30px;
  border: 1px solid currentColor;
  border-radius: 80px;
  margin-top: 40px;
}

.subscribePopUp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 75%;
  z-index: 100;
  padding: 15px;
}

.popUpHeadline {
  font-size: var(--title);
  font-weight: normal;
  margin-bottom: 10px;
}

.innerContainer {
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
}

.close span {
  display: block;
  position: relative;
  height: 1px;
  width: 100%;
  background: currentColor;
}

.close span:first-of-type {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close span:last-of-type {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.emailInput {
  border-bottom: 1px solid var(--dark-gray);
  padding: 2px 0px;
  display: block;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 60px;
}

.check {
  font-family: var(--font-secondary);
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
}

.submit {
  display: flex;
  width: 100%;
  justify-content: center;
  border: 1px solid currentColor;
  padding: 10px 30px 5px 30px;
  border-radius: 80px;
  margin-top: 60px;
}

.inquireForm {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 40px;
}

.inquireInput::placeholder {
  font-style: italic;
}

.inquireInput {
  width: calc(50% - 10px);
  border-bottom: 1px solid var(--mid-gray);
  margin-bottom: 20px;
  font-family: var(--font-primary);
}

.inquireArea {
  width: 100%;
  border: 1px solid var(--mid-gray);
  font-family: var(--font-primary);
  padding: 10px;
  position: relative;
}

.inquireArea::placeholder {
  font-style: italic;
}

.characterCount {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: var(--caption);
  color: var(--dark-gray);
  z-index: 2000;
}
@media screen and (max-width: 700px) {
  .bannerContainer {
    aspect-ratio: 5 / 4;
  }

  .ctaHeadline {
    padding: 0 20vw;
  }

  .ctaSubtitle {
    padding: 0 20vw;
  }
}
