.exhibitionsHeader {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: var(--medium-padding);
}

.exhibitionsHeader > div {
  width: 33%;
}

.headerLinkContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.aboveTheFold {
  display: flex;
  padding-top: 40px;
  margin-bottom: calc(var(--medium-padding) * 2);
}

.aboveLeft,
.aboveRight {
  width: 50%;
}

.aboveLeft {
  padding-right: 60px;
  display: flex;
  flex-direction: column;
}

.aboveHeading {
  font-size: var(--title);
}

.sectionHeading {
  font-size: var(--title);
  padding-top: var(--large-padding);
}

.aboveInfo {
  font-family: var(--font-secondary);
}

.aboveDescription {
  margin-top: var(--medium-padding);
  line-height: 1.5;
}

.carouselHolder {
  margin-bottom: calc(var(--medium-padding) * 2);
}

.artistContainer {
  margin-top: calc(var(--medium-padding) / 2);
  display: flex;
  gap: 60px;
}

.artistBio {
  width: 60%;
}

.artistBio p {
  margin-bottom: 20px;
}

.artistLink {
  display: inline-block;
  width: 40%;
}

@media screen and (max-width: 800px) {
  .aboveTheFold {
    flex-direction: column-reverse;
    gap: 40px;
  }

  .aboveLeft,
  .aboveRight {
    width: 100%;
  }

  .aboveLeft {
    padding-right: 0px;
  }

  .artistContainer {
    flex-direction: column;
    gap: 30px;
  }

  .artistBio,
  .artistLink {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .headerLinkContainer {
    gap: 10px;
  }

  .aboveDescription {
  line-height: 1.75;
}
}
