.pageHeading {
  color: var(--mid-gray);
}

.pageHeading:hover {
  color: #000;
}

.aboveTheFold {
  display: flex;
  padding-top: 40px;
  margin-bottom: calc(var(--medium-padding) * 2);
}

.aboveLeft,
.aboveRight {
  width: 50%;
}

.aboveLeft {
  padding-right: 60px;
  display: flex;
  flex-direction: column;
}

.aboveRight {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.aboveRight img {
  max-height: 60vh;
}

.aboveHeading {
  font-size: var(--title);
}

.sectionHeading {
  font-size: var(--title);
  padding-top: var(--large-padding);
}

.aboveInfo {
  font-family: var(--font-secondary);
  color: var(--dark-gray);
}

.aboveDescription {
  margin-top: var(--medium-padding);
  line-height: 1.5;
}

.carouselHolder {
  margin-bottom: calc(var(--medium-padding) * 2);
}

.artistContainer {
  margin-top: calc(var(--medium-padding) / 2);
  display: flex;
  gap: 60px;
}

.artistBio {
  width: 60%;
}

.artistBio p {
  margin-bottom: 20px;
}

.artistImage {
  width: 40%;
}

.artistLink {
  display: inline-block;
  margin-top: var(--medium-padding);
  border: 1px solid #000;
  font-family: var(--font-secondary);
  padding: 5px 20px;
  border-radius: 30px;
}

.artistLink span {
  padding-left: 10px;
}

@media screen and (max-width: 800px) {
  .aboveTheFold {
    flex-direction: column-reverse;
    gap: 40px;
  }

  .aboveLeft,
  .aboveRight {
    width: 100%;
  }

  .aboveLeft {
    padding-right: 0px;
  }

  .artistContainer {
    flex-direction: column;
    gap: 30px;
  }

  .artistBio,
  .artistLink {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .headerLinkContainer {
    gap: 10px;
  }

  .aboveDescription {
    line-height: 1.75;
  }
}
