.tileContainer {
  display: flex;
  flex-direction: column;
}

.tileContainerPast {
  display: flex;
  flex-direction: column;
  width: calc(33% - 10px);
  padding-bottom: var(--medium-padding);
}

.tileImage {
  aspect-ratio: 5 / 4;
}

.exhibitInfo {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.infoLeft {
  display: flex;
  flex-direction: column;
}

.infoRight {
  text-align: right;
  white-space: nowrap;
}

.date {
  font-family: var(--font-secondary);
  color: var(--dark-gray);
}

.infoHeading {
  font-size: var(--body-text);
}

.title {
  font-style: italic;
}

.mobileHeading {
  font-size: var(--body-text);
}

@media screen and (max-width: 700px) {
  .infoHeading {
    font-size: var(--subtitle);
  }

  .tileContainerPast {
    width: calc(50% - 5px);
    padding-bottom: var(--medium-padding);
  }
}
