.exhibitionsHeader {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: var(--medium-padding);
}

.exhibitionsHeader > div {
  width: 33%;
}

.headerLinkContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.activeLink {
  text-decoration: underline;
}

.placeHolder {
  height: 100vh;
}

.exhibitSectionHeading {
  font-size: var(--title);
  padding-bottom: 20px;
}

.currentContainer,
.upcomingContainer,
.pastContainer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.currentContainer > div {
  width: calc(50% - 10px);
  padding-bottom: var(--medium-padding);
}

.upcomingContainer > div,
.pastContainer > div {
  width: calc(33% - 10px);
  padding-bottom: var(--medium-padding);
}

.pastHeading {
  display: flex;
  gap: calc(var(--medium-padding) * 2);
  align-items: center;
}

.filterContainer {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  gap: var(--medium-padding);
}

.filterOpen {
  transform: rotateX(0deg);
}

.filterClosed {
  transform: rotateX(180deg) translateY(25%);
}

.filterButton {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filterRelative {
  position: relative;
}

.filterButton svg {
  height: 15px;
  width: 15px;
  padding-bottom: 5px;
}

.artistDropdown {
  position: absolute;
  width: 250px;
  max-height: 300px;
  padding: 10px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  left: -10px;
  overflow-y: scroll;
  z-index: 10;
  background: #fff;
}

.dropdownButton {
  opacity: 0.5;
  transition: all 400ms;
}

.dropdownButton:hover {
  opacity: 1;
  transition: all 400ms;
}

@media screen and (max-width: 800px) {
  .headerLinkContainer {
    gap: 10px;
  }

  .filterButton svg {
    height: 10px;
    width: 10px;
    padding-bottom: 5px;
  }
}
