footer {
  margin-top: var(--large-padding);
  border-top: 1px solid #000;
  padding: var(--large-padding);
  font-family: var(--font-secondary);
  background-color: var(--accent-color);
}

.upperFooter {
  display: flex;
  gap: 8vw;
  justify-content: center;
  padding-bottom: var(--large-padding);
}

.linkContainer {
  display: flex;
  gap: 8vw;
}

.linkColumn {
  display: flex;
  flex-direction: column;
}

.lowerFooter {
  display: flex;
  justify-content: center;
  gap: 35px;
  font-family: var(--font-primary);
  margin-top: var(--large-padding);
}

@media screen and (max-width: 1000px) {
  .upperFooter {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .linkContainer {
    width: 100%;
    justify-content: space-between;
  }
}
