@font-face {
  font-family: "Frame Head";
  src: url(../fonts/frame/FrameHead-Roman.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Frame Head";
  src: url(../fonts/frame/FrameHead-Italic.otf) format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Basel Grotesk";
  src: url(../fonts/basel/BaselGrotesk-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 400ms;
}

a:hover {
  color: var(--dark-gray);
  transition: all 400ms;
}

button {
  background: none;
  border: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  transition: all 400ms;
}

button:hover {
  cursor: pointer;
  transition: all 400ms;
}

html {
  font-family: var(--font-primary);
  font-variant-numeric: var(--old-style);
  font-size: 18px;
  scroll-padding-top: 250px;
}

main {
  width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.fraction {
  font-size: 70%;
}

:root {
  --font-primary: "Frame Head", serif;
  --font-secondary: "Basel Grotesk", sans-serif;
  --old-style: oldstyle-nums;
  --headline: 60px;
  --title: 40px;
  --subtitle: 30px;
  --body-text: 22px;
  --subtext: 18px;
  --caption: 13px;
  --medium-padding: 50px;
  --large-padding: 120px;
  --extra-large-padding: 200px;
  --accent-gray: #f8fafa;
  --light-gray: #dae2e2;
  --mid-gray: #b2c4c5;
  --dark-gray: #647b7d;
}

.pageContainer {
  padding: var(--medium-padding);
  padding-top: 180px;
  position: relative;
}

.shopPageContainer {
  padding: var(--medium-padding);
  padding-top: 0px;
  position: relative;
}

.pageHeading {
  font-size: var(--title);
  white-space: nowrap;
}

p {
  line-height: 1.5;
}

.ais-SearchBox-input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.flexPageContent {
  margin: var(--medium-padding) 0;
}

.flexPageContent p {
  margin-bottom: var(--medium-padding);
}

.cookiesContainer {
  bottom: 0px;
  align-items: baseline;
  background: #fff;
  color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  left: 0px;
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 0 var(--medium-padding);
}

.cookiesContent {
  margin: 15px 5px 5px 0;
}

.cookiesBtn {
  border: 1px solid var(--dark-gray);
  border-radius: 0px;
  box-shadow: none;
  color: black;
  cursor: pointer;
  padding: 10px 20px 5px 20px;
  margin: 15px;
  margin-left: 0;
}

.cookiesDecline {
  border: 1px solid var(--dark-gray);
  background: var(--dark-gray);
  border-radius: 0px;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px 5px 20px;
  margin: 15px 0;
}

.cookiesBtn:hover {
  color: var(--dark-gray);
}

.cookiesDecline:hover {
  background: var(--mid-gray);
  color: #000;
}

@media screen and (max-width: 1000px) {
  :root {
    --medium-padding: 30px;
    --large-padding: 60px;
    --headline: 34px;
    --title: 24px;
    --subtitle: 18px;
    --body-text: 14px;
    --subtext: 12px;
    --caption: 12px;
  }

  html {
    font-size: 14px;
  }

  .pageContainer {
    padding-top: 120px;
  }
}

@media screen and (max-width: 700px) {
  html {
    scroll-padding-top: 150px;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --medium-padding: 20px;
  }

  html {
    font-size: 12px;
  }

  .pageContainer {
    padding-top: 80px;
  }
}
