@font-face {
  font-family: "Frame Head";
  src: url(../fonts/frame/FrameHead-Roman.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Frame Head";
  src: url(../fonts/frame/FrameHead-Italic.otf) format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Basel Grotesk";
  src: url(../fonts/basel/BaselGrotesk-Regular.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

button:hover {
  cursor: pointer;
}

html {
  font-family: var(--font-primary);
  font-size: 18px;
}

:root {
  --font-primary: "Frame Head", serif;
  --font-secondary: "Basel Grotesk", sans-serif;
  --heading-1-size: calc(1rem + 2vw);
  --heading-2-size: calc(1rem + 1vw);
  --large-padding: 50px;
}

.pageContainer {
  margin-top: 160px;
  padding: var(--large-padding);
  border-top: 1px solid #000;
}

@media screen and (max-width: 1000px) {
  :root {
    --large-padding: 30px;
  }

  html {
    font-size: 16px;
  }

  .pageContainer {
    margin-top: 120px;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --large-padding: 20px;
  }

  html {
    font-size: 12px;
  }

  .pageContainer {
    margin-top: 100px;
  }

}
