header {
  font-family: var(--font-secondary);
  font-variant-numeric: normal;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: all 400ms;
  padding: var(--medium-padding);
}

.homeHeader {
  transition: all 400ms;
  background: transparent;
  border-bottom: none;
}

.pageHeader {
  background: #fff;
  border-bottom: 1px solid var(--light-gray);
  transition: all 400ms;
}

.homeHeader {
  color: #fff;
}

.pagePrimary {
  color: #000;
}

.primaryMenu {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 200;
}

.primaryMenu .logo {
  width: 50%;
  margin-left: 25%;
}

.primaryMenu .smallLogo {
  width: 33.3%;
  margin-left: 33.3%;
}

.logo,
.smallLogo {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.logo a {
  display: block;
  width: 100%;
}

.smallLogo a {
  display: flex;
  justify-content: center;
  width: 100%;
}

.smallLogo img {
  width: 65%;
}

.logo img {
  width: 100%;
}

.hideLogo {
  animation: fadeAway 400ms forwards;
  width: 100%;
}

.showLogo {
  animation: fadeOn 400ms forwards;
  width: 100%;
}

.search {
  width: 30px;
  height: 20px;
  display: block;
}

.search:hover {
  color: currentColor;
}

.searchIcon {
  height: 100%;
  width: 100%;
}

.hamburger {
  position: absolute;
  top: 0;
}

.languageContainer {
  position: absolute;
  top: 0;
  right: 0;
}

#nav-icon {
  width: 30px;
  height: 20px;
  transform: rotate(0deg);
  cursor: pointer;
  position: relative;
  z-index: 1000;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background: currentColor;
  opacity: 1;
  left: 0;
  top: 0;
  transform: rotate(0deg);
  transition: transform 400ms ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
  top: 9px;
}

#nav-icon span:nth-child(4) {
  top: 18px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: currentColor;
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: currentColor;
}

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menuButton {
  display: flex;
  align-items: center;
  gap: 10px;
}

.secondaryMenu {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: var(--font-primary);
  gap: 10px;
  font-size: var(--title);
  overflow-y: scroll;
  padding: var(--medium-padding);
  padding-top: 70px;
  max-height: 100vh;
  overflow-y: scroll;
}

.white {
  background: #fff;
}

.black {
  background: #000;
}

.homeSecondaryMenu {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: var(--font-primary);
  gap: 10px;
  font-size: var(--title);
  overflow-y: scroll;
  padding: var(--medium-padding);
  padding-top: 70px;
  max-height: 100vh;
  overflow-y: scroll;
  color: #fff;
}

.desktopSecondaryMenu {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
  font-family: var(--font-primary);
  padding: 30px var(--medium-padding) 10px var(--medium-padding);
  margin-bottom: calc(var(--medium-padding) * -1);
  padding-top: 30px;
  font-size: var(--subtext);
}

.language button,
.mobileLanguage button {
  border-radius: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  padding: 2px 8px;
  cursor: pointer;
}

.language button.activeLanguage,
.mobileLanguage button.activeLanguage {
  border-color: currentColor;
}

.headerLink {
  transition: all 500ms;
}

.secondaryBottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  width: 100%;
  padding-top: var(--medium-padding);
}

.secondaryBottom > div {
  width: 100%;
}

.headerSearchContainer {
  display: flex;
  justify-content: center;
}

.headerLocations,
.headerSocial,
.mobileHeaderSocial {
  font-size: var(--subtext);
  display: flex;
  gap: 20px;
}

.headerSocial,
.mobileHeaderSocial {
  font-family: var(--font-secondary);
  font-variant-numeric: normal;
  justify-content: flex-end;
}

.mobileLanguage {
  display: none;
}

@media screen and (max-width: 700px) {
  .language {
    display: none;
  }

  .primaryMenu .logo {
    width: 70%;
    margin-left: 15%;
  }

  .primaryMenu .smallLogo {
    width: 70%;
    margin-left: 15%;
  }

  .mobileLanguage {
    display: flex;
    gap: 10px;
    font-size: var(--subtext);
    font-family: var(--font-secondary);
    font-variant-numeric: normal;
    margin-bottom: var(--medium-padding);
  }

  .headerLocations {
    display: none;
  }

  .headerSearchContainer {
    display: none;
  }

  .mobileHeaderSocial {
    justify-content: space-between;
    color: var(--dark-gray);
  }

  #nav-icon, .search {
    width: 20px;
    height: 15px;
  }

  #nav-icon span:nth-child(2),
  #nav-icon span:nth-child(3) {
    top: 7px;
  }

  #nav-icon span:nth-child(4) {
    top: 14px;
  }

  .menuLabel {
    display: none;
  }
}

@keyframes fadeAway {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOn {
  to {
    opacity: 1;
  }
}
