header {
  font-family: var(--font-secondary);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: calc(var(--large-padding) / 2) var(--large-padding);
  z-index: 100;
}

.primaryOpen {
  color: #000;
  transition: all 500ms;
}

.pagePrimaryOpen {
  color: #000;
  border-bottom: 1px solid #000;
  background: rgba(255, 255, 255, 0.75);
  transition: all 500ms;
}

.primaryClosed {
  color: #fff;
  transition: all 500ms;
}

.primaryMenu {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 200;
}

.primaryMenu > div {
  width: 33%;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo a {
  display: block;
  width: 100%;
}

.logo svg {
  fill: currentColor;
  width: 100%;
}

.language {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

#navIcon {
  width: 30px;
  height: 24px;
  cursor: pointer;
  position: relative;
  z-index: 100;
}

#navIcon span {
  display: block;
  position: absolute;
  height: 2px;
  border-radius: 4px;
  width: 100%;
  background: currentColor;
  opacity: 1;
  left: 0;
  top: 0;
  transform: rotate(0deg);
  transition: all 500ms;
}

#navIcon span:nth-child(1) {
  top: 5px;
}

#navIcon span:nth-child(2) {
  top: 17px;
}

#navIcon.open span:nth-child(1) {
  top: 10px;
  transform: rotate(45deg);
  transition: all 500ms;
}

#navIcon.open span:nth-child(2) {
  top: 10px;
  transform: rotate(-45deg);
  transition: all 500ms;
}

.menuButton {
  display: flex;
  align-items: center;
  gap: 10px;
}

.secondaryMenu {
  height: clamp(800px, 100vh, 8000px);
  width: 100vw;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-primary);
  gap: 20px;
  font-size: var(--headline);
  overflow-y: scroll;
}

.secondaryClosed {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 500ms, transform 0ms 500ms;
}

.secondaryClosed a {
  opacity: 0;
  transition: all 500ms;
}

.secondaryOpen {
  transform: translateY(0);
  opacity: 1;
  transition: opacity 500ms 1ms, transform 0ms;
}

.secondaryOpen a {
  opacity: 1;
  transition: all 1s;
}

.secondaryOpen a:hover {
  opacity: 0.5;
  transition: all 400ms;
}

.language button,
.mobileLanguage button {
  border-radius: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  padding: 2px 8px;
}

.language button.activeLanguage,
.mobileLanguage button.activeLanguage {
  border-color: currentColor;
}

.headerLink {
  transition: all 500ms;
}

.searchIcon {
  display: none;
}

.secondaryBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  padding: calc(var(--large-padding) / 2) var(--large-padding);
  align-items: center;
  width: 100%;
}

.secondaryBottom > div {
  width: 33%;
}

.headerSearchContainer {
  display: flex;
  justify-content: center;
}

.headerSearch {
  font-style: italic;
}

.headerLocations,
.headerSocial {
  font-size: var(--subtext);
  display: flex;
  gap: 20px;
}

.headerSocial {
  font-family: var(--font-secondary);
  justify-content: flex-end;
}

.mobileLanguage {
  display: none;
}

@media screen and (max-width: 700px) {
  .language {
    display: none;
  }

  .primaryMenu > div {
    width: 27%;
  }

  .primaryMenu .logo {
    width: 46%;
  }

  .searchIcon {
    display: flex;
    justify-content: flex-end;
  }

  .mobileLanguage {
    display: flex;
    gap: 10px;
    font-size: var(--subtext);
    justify-content: center;
    font-family: var(--font-secondary);
  }

  .secondaryBottom {
    flex-direction: column;
    gap: 10px;
    padding-bottom: 8vh;
  }

  .secondaryBottom > div {
    width: 100%;
  }

  .headerLocations {
    display: none;
  }

  .headerSearchContainer {
    display: none;
  }

  .headerSocial {
    justify-content: center;
  }
}
