.tileContainer {
  position: relative;
  display: block;
  width: 100%;
}

.tileContainerHalf {
  position: relative;
  display: block;
  width: 50%;
}

.tileContainerWhite {
  position: relative;
  color: #fff;
  display: block;
  width: 100%;
}

.tileContainerWhiteHalf {
  position: relative;
  color: #fff;
  display: block;
  width: 50%;
}

.tileContainerWhite:hover,
.tileContainerWhiteHalf:hover {
  color: #fff;
}

.tileContainer:hover,
.tileContainerHalf:hover {
  color: currentColor;
}

.tileMedia {
  aspect-ratio: 16 / 9;
  background: #000;
  position: relative;
}

.tileMediaHalf {
  aspect-ratio: 8 / 9;
  background: #000;
  position: relative;
  overflow: hidden;
}

.textContainer {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: var(--medium-padding);
  width: 100%;
  align-items: flex-end;
  gap: 10px;
  transition: all 400ms;
  z-index: 10;
}

.textContainerFull {
  font-size: var(--title);
}

.textContainerHalf {
  font-size: var(--subtitle);
}

.textContainer:hover {
  background: #fff;
  color: #000000;
  transition: all 400ms;
}

.location {
  text-align: right;
  white-space: nowrap;
}

.location p {
  line-height: normal;
}

.videoCover {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}

@media screen and (max-width: 700px) {
  .tileContainerHalf,
  .tileContainerWhiteHalf {
    width: 100%;
  }

  .tileMedia,
  .tileMediaHalf {
    aspect-ratio: 4 / 5;
  }

  .textContainerHalf,
  .textContainerFull {
    font-size: calc(var(--body-text) + 1px);
  }
}
