.tileContainer {
  position: relative;
  color: #fff;
}

.tileContainer:hover {
  color: #fff;
}

.tileMedia {
  aspect-ratio: 16 / 9;
}

.tileMediaHalf {
  aspect-ratio: 8 / 9;
}

.textContainer {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: var(--medium-padding);
  width: 100%;
  align-items: flex-end;
  gap: 10px;
  transition: all 400ms;
  z-index: 10;
}

.textContainerFull {
  font-size: var(--title);
}

.textContainerHalf {
  font-size: var(--subtitle);
}

.textContainer:hover {
  background: #fff;
  color: #000000;
  transition: all 400ms;
}

.location {
  text-align: right;
  white-space: nowrap;
}

.location p {
  line-height: normal;
}

.videoPlayer {
    padding: 56.25% 0 0 0;
    position: relative;
    background: #000;
}

.videoPlayer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.videoCover {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}

@media screen and (max-width: 700px) {
  .tileMedia,
  .tileMediaHalf {
    aspect-ratio: 4 / 5;
  }

  .textContainerHalf, .textContainerFull {
    font-size: calc(var(--body-text) + 1px);
  }
}
