.tileContainer {
  position: relative;
  color: #fff;
}

.tileMedia {
  aspect-ratio: 16 / 9;
}

.tileMediaHalf {
  aspect-ratio: 8 / 9;
}

.textContainer {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: var(--medium-padding);
  width: 100%;
  align-items: flex-end;
  gap: 10px;
  transition: all 400ms;
}

.textContainerFull {
  font-size: var(--title);
}

.textContainerHalf {
  font-size: var(--subtitle);
}

.textContainer:hover {
  background: #fff;
  color: #000000;
  transition: all 400ms;
}

.location {
  text-align: right;
  white-space: nowrap;
}

@media screen and (max-width: 600px) {
  .tileMedia,
  .tileMediaHalf {
    aspect-ratio: 4 / 5;
  }

  .textContainerHalf {
    font-size: var(--title);
  }
}
