.locationListingContainer {
  width: 100%;
  display: flex;
  padding: var(--large-padding) var(--medium-padding) 0
    var(--medium-padding);
  flex-wrap: wrap;
}

.locationListingContainer a {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin-bottom: var(--large-padding);
  padding-right: 10px;
}

.locationHeading {
  font-size: var(--subtitle);
  margin-bottom: 20px;
  line-height: normal;
}

@media screen and (max-width: 1000px) {
  .locationListingContainer a {
    width: 50%;
  }
}
