.formContainer {
  font-family: var(--font-primary);
  width: 40%;
}

.mailForm {
  display: flex;
  flex-direction: column;
}

.headerText,
.inputContainer {
  width: 80%;
}

.name {
  display: flex;
  gap: 10px;
  padding-top: 20px;
}

.afterName {
  display: flex;
  gap: 10px;
  padding-top: 20px;
}

.name input {
  border: 1px solid var(--mid-gray);
  padding: 2px 5px;
  background: #fff;
  border-radius: 6px;
  width: 50%;
  height: 40px;
}

.afterName input {
  border: 1px solid #fff;
  color: #fff;
  padding: 2px 5px;
  background: transparent;
  border-radius: 6px;
  width: 50%;
  height: 40px;
}

.afterName input::placeholder {
  color: #fff;
}

.email {
  border: 1px solid var(--mid-gray);
  padding: 2px 5px;
  background: #fff;
  color: #fff;
  border-radius: 6px;
  width: 100%;
  height: 40px;
  margin-top: 15px;
}

.afterEmail {
  border: 1px solid #fff;
  padding: 2px 5px;
  background: transparent;
  border-radius: 6px;
  width: 100%;
  height: 40px;
  margin-top: 15px;
}

.afterEmail::placeholder {
  color: #fff;
}

.mailForm form {
  display: flex;
  gap: 20px;
  align-items: flex-end;
}

.submit {
  border: none;
  padding: 2px 15px;
  background: none;
  border: 1px solid var(--mid-gray);
  color: var(--dark-gray);
  border-radius: 6px;
  height: 40px;
  cursor: pointer;
}

.afterSubmit {
  border: none;
  padding: 2px 15px;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 6px;
  height: 40px;
  cursor: pointer;
}

.success {
  margin-top: var(--medium-padding);
}

@media screen and (max-width: 1000px) {
  .formContainer {
    font-family: var(--font-primary);
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .formContainer {
    width: 100%;
  }

  .headerText,
  .inputContainer {
    width: 100%;
  }

  .mailForm form {
    flex-direction: column;
    align-items: flex-start;
  }

  .name {
    flex-direction: column;
  }

  .name input {
    width: 100%;
  }

  .headerText {
    font-size: var(--body-text);
  }
}
