.newsHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.headerLinkContainer {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  white-space: nowrap;
  overflow-x: scroll;
}

.category {
  color: var(--mid-gray);
  font-family: var(--font-secondary);
  margin-bottom: 10px;
}

.buttonInactive {
  color: var(--dark-gray);
  transition: all 400ms;
}

.buttonActive {
  color: #000;
  transition: all 400ms;
}

.buttonActive:hover,
.buttonInactive:hover {
  color: #000;
  transition: all 400ms;
}

.newsContainer {
  display: flex;
  flex-wrap: wrap;
  padding-top: var(--medium-padding);
  gap: 20px;
  justify-content: center;
}

.featuredNewsItem {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 20px;
  width: 100%;
  margin-bottom: var(--medium-padding);
}

.newsItem {
  display: flex;
  flex-direction: column;
  width: calc(25% - 20px);
  margin-bottom: var(--medium-padding);
}

.newsImage {
  width: 100%;
  aspect-ratio: 4 / 3;
}

.featuredNewsImage {
  width: 80%;
  justify-self: right;
  aspect-ratio: 4 / 3;
}

.featuredNewsText {
  width: 100%;
}

.allNewsBtn:hover {
  color: var(--dark-gray);
  transition: all 400ms;
}

.featuredNewsText h1 {
  font-size: var(--subtitle);
  font-weight: 400;
}

.featuredNewsText p,
.featuredNewsText .downloadLink {
  font-family: var(--font-secondary);
  font-variant-numeric: normal;
  color: var(--dark-gray);
}

.newsText {
  margin-top: 10px;
}

.newsText h1 {
  font-size: var(--sub-text);
  font-weight: 400;
}

.newsText p,
.newsText .downloadLink {
  font-family: var(--font-secondary);
  font-variant-numeric: normal;
  color: var(--dark-gray);
}

.downloadLink {
  display: block;
  line-height: 1.5;
}

@media screen and (max-width: 700px) {
  .headerLinkContainer {
    gap: 10px;
    justify-content: flex-start;
  }

  .featuredNewsItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .featuredNewsImage,
  .featuredNewsText {
    width: 100%;
    max-width: 100%;
  }

  .newsItem {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
  }

  .newsImage {
    width: 30%;
  }

  .newsText {
    margin-top: 0;
    width: 70%;
  }

  .newsText h1 {
  font-size: var(--body-text);
  font-weight: 400;
}
}
