.newsHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.headerLinkContainer {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.buttonInactive {
  color: var(--dark-gray);
  transition: all 400ms;
}

.buttonActive {
  color: #000;
  transition: all 400ms;
}

.buttonActive:hover,
.buttonInactive:hover {
  color: #000;
  transition: all 400ms;
}

.newsContainer {
  display: flex;
  flex-wrap: wrap;
  padding-top: var(--medium-padding);
  gap: 20px;
  justify-content: center;
}

.featuredNewsItem {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-bottom: var(--medium-padding);
  justify-content: center;
}

.newsItem {
  display: flex;
  flex-direction: column;
  width: calc(25% - 20px);
  margin-bottom: var(--medium-padding);
}

.newsImage {
  width: 100%;
}

.featuredNewsImage {
  width: 50%;
}

.allNewsBtn:hover {
  color: var(--dark-gray);
  transition: all 400ms;
}

.featuredNewsText h1 {
  font-size: var(--subtitle);
  font-weight: 400;
}

.featuredNewsText p,
.featuredNewsText .downloadLink {
  font-size: var(--sub-text);
  font-family: var(--font-secondary);
  color: var(--dark-gray);
}

.newsText {
  margin-top: 10px;
}

.newsText h1 {
  font-size: var(--sub-text);
  font-weight: 400;
}

.newsText p,
.newsText .downloadLink {
  font-size: var(--caption);
  font-family: var(--font-secondary);
  color: var(--dark-gray);
}

.downloadLink {
  display: block;
}

@media screen and (max-width: 700px) {
  .headerLinkContainer {
    gap: 10px;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .newsHeader > div {
    width: 100%;
  }

  .newsHeader {
    gap: 15px;
  }

  .featuredNewsItem {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .featuredNewsImage,
  .featuredNewsText {
    width: 100%;
    max-width: 100%;
  }

  .newsItem {
    flex-direction: row;
    width: 100%;
    gap: 10px;
  }

  .newsImage {
    width: 25%;
  }

  .newsText {
    margin-top: 0;
    width: 75%;
  }
}
