.productTile {
  width: calc(33.3% - 13.5px);
  position: relative;
}

.paymentInfo {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.price {
  font-family: var(--font-secondary);
  font-variant-numeric: normal;
}

.productTileImage {
  aspect-ratio: 1.5 / 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaeaea;
}

.productTitle {
  font-style: italic;
  font-size: var(--body-text);
  line-height: normal;
}

.productArtist {
  font-size: var(--body-text);
  line-height: normal;
}

.soldOutSticker {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: var(--caption);
  text-transform: uppercase;
  color: #fff;
  background: var(--dark-gray);
  border-radius: 100%;
  padding: 8px;
  text-align: center;
  font-family: var(--font-secondary);
  font-variant-numeric: normal;
}

@media screen and (max-width: 700px) {
  .productTile {
    width: 100%;
    margin-bottom: 40px;
  }

  .productArtist,
  .productTitle {
    font-size: var(--subtitle);
  }
}
