.simpleContainer {
  width: calc(100% + var(--medium-padding));
}

.slideContainer {
  display: flex;
  margin-right: 20px;
  width: 100%;
}

.slideContainer figure {
  height: 100%;
  padding-right: 20px;
}

.slideContainer figcaption {
  margin-top: 10px;
  font-size: var(--caption);
  padding-right: 20px;
}

.slideContainer figcaption h1 {
  line-height: 1.5;
  font-weight: 400;
}

.slideContainer figcaption p {
  font-family: var(--font-secondary);
  font-variant-numeric: normal;
}

.slideContainer figcaption h1 {
  font-size: var(--body-text);
  margin-bottom: 5px;
  font-weight: 400;
}

.nextArrow,
.previousArrow {
  position: absolute;
  bottom: -40px;
  transform: translateY(-50%);
  height: 15px;
  width: 15px;
  cursor: pointer;
  z-index: 10;
}

.nextArrow {
  left: 60px;
}

.previousArrow {
  left: 0px;
}

.carouselSVG {
  height: 100%;
  width: 100%;
}

.slideCount {
  margin-top: 20px;
  font-size: var(--caption);
  margin-left: 25px;
}

@media screen and (max-width: 1000px) {
  .nextArrow {
    left: 55px;
  }
}
