.slide {
  margin-right: 20px;
}

.slideContainer {
  display: flex;
}

.slideContainer figure {
  height: 100%;
}

.slideContainer figcaption {
  margin-top: 15px;
  font-family: var(--font-secondary);
  font-size: var(--caption);
  padding-right: 20px;
}
