.exhibitionsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: var(--medium-padding);
}

.headerLinkContainer {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.headerLinkContainer a {
  white-space: nowrap;
  color: var(--dark-gray);
}

.headerLinkContainer a:hover {
  color: #000;
}

.headerLinkContainer .landingLink {
  color: #000;
}

.title {
  font-size: var(--title);
  font-style: italic;
  padding-bottom: var(--medium-padding);
}

.featuredArtistsContainer {
  margin-top: var(--medium-padding);
}

.featuredHeading {
  font-size: var(--title);
  margin-bottom: 20px;
}

.featuredArtists {
  column-count: 4;
  font-size: var(--body-text);
  margin-bottom: var(--medium-padding);
}

.listArtistLink {
  display: block;
  padding-bottom: 5px;
}

.fullWidthImg {
  width: calc(100% + (var(--medium-padding) * 2));
  margin-left: calc(var(--medium-padding) * -1);
  padding-bottom: var(--medium-padding);
}

.leftCarousel,
.rightCarousel {
  display: flex;
  padding-bottom: var(--medium-padding);
  gap: var(--medium-padding);
}

.rightCarousel {
  flex-direction: row-reverse;
}

.sliderContainer {
  width: 60%;
  position: relative;
}

.nextArrow,
.previousArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 28px;
  width: 13px;
  cursor: pointer;
  z-index: 10;
}

.nextArrow {
  right: 0;
}

.carouselSVG {
  height: 100%;
  width: 100%;
}

.imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.carouselImage {
  height: 100%;
  width: 90%;
}

.imageInfo {
  width: 40%;
}

.inquire {
  display: inline-block;
  border: 1px solid #000;
  padding: 10px 20px 5px 20px;
  border-radius: 30px;
  margin-top: var(--medium-padding);
  transition: all 400ms;
}

.inquire:hover {
  color: var(--dark-gray);
  transition: all 400ms;
}

.callToActionContainer {
  margin-top: calc((var(--medium-padding) * 2) + 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: center;
}

.callToActionContainer h2 {
  font-size: var(--headline);
  font-weight: normal;
  padding: 0 8vw;
}

.ctaLink {
  font-size: var(--subtext);
  padding: 10px 30px;
  border: 1px solid #000;
  border-radius: 80px;
}

@media screen and (max-width: 700px) {
  .headerLinkContainer {
    gap: 10px;
  }
  .exhibitionsHeader {
    flex-wrap: wrap;
    gap: 15px;
  }

  .exhibitionsHeader > div {
    width: 100%;
  }

  .headerLinkContainer {
    justify-content: flex-start;
    margin-bottom: var(--medium-padding);
  }

  .featuredArtists {
    column-count: 2;
    font-size: var(--body-text);
  }

  .leftCarousel,
  .rightCarousel {
    flex-direction: column;
    gap: var(--medium-padding);
  }

  .sliderContainer,
  .imageInfo {
    width: 100%;
  }

  .inquire {
    display: block;
    text-align: center;
    margin-bottom: var(--large-padding);
  }

  .fullWidthImg {
    padding-bottom: var(--large-padding);
  }

  .callToActionContainer {
    margin-top: var(--large-padding);
    margin-bottom: var(--large-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
  }

  .imageContainer {
    height: auto;
    max-height: 70vh;
  }
}
